*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,body{
width: 100%;
height: 100%;
}

/* body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */

#headline{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 800;
    position: relative;

}

h1::after{
content: "";
position: absolute;
width: 0%;
height: 10px;
bottom: 0;
background-color: black;
left: 0;

/* animation-delay: 1s; */
}

h1:hover::after{
    animation-name: anime;
    animation-duration: 1.5s;
}

@keyframes anime {
    0%{
        width: 0;
    }
    
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left:100%;
    }
}
/* h1::before{
    content: "📰";
} */
#headlines {
    background-color: black;
    color: white;    
    width: 100%;
    padding: 5px 0;
    white-space: nowrap;
    overflow: hidden;
}

#lines {
    display: inline-block;
    white-space: nowrap;
    animation: animeheadline 15s linear infinite; /* Adjusted duration */
}

h5 {
    display: inline-block;
    margin: 8px;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 900;
}

@keyframes animeheadline {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%); /* Scroll to half the width, which is one set of content */
    }
}


